:root {
	--background-main-color: #fbfbfb;
	--background-secondary-color: #ffffff;
	--background-accent-color: #ffc824;

	--text-main-color: #0d0d0d;
	--text-secondary-color: #ffffff;
	--text-accent-color: #f4c024;

	--inactive-main-color: #818181;
	--inactive-secondary-color: #2f2f2f;

	--semantic-error-color: #c32a2a;
}
