.root{
    &__small_text{
        font-size: 16px
    }
    &__20{
        font-size: 20px;

    }
    &__24{
        font-size: 24px;
    }
    &__30{
        font-size: 30px;
    }

    &__black{
        color:black;
    }
    &__yellow{
        color: #F4C024;
    }
    &__white{
        color:white;
    }
    &__red {
        color: #C32A2A;
    }
}