.root {
	&__h1 {
		font-weight: 510;
		font-size: 63px;
		font-family: sans-serif;
	}

	&__h2 {
		font-weight: 400;
		font-size: 24px;
	}

	&__h3 {
		font-weight: 860;
		font-size: 30px;
	}
	&__18{
		font-size: 18px;
	}

	&__title {
		font-weight: 700;
		font-size: 20px;
	}

	&__black {
		color: black;
	}

	&__white {
		color: white;
	}
}
